<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mariadb://localhost:3306/kalaazu</property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Account"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsBank"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsBanksLog"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsClansRole"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsConfiguration"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsConfigurationsAccountsItem"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsDestroy"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsDrone"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsGalaxygate"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsHangar"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsHistory"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsItem"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsMessage"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsPet"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsQuest"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsRanking"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsShip"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsSkill"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsSkylab"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsTechfactorie"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.AccountsTechfactoryItem"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Clan"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansApplication"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansBank"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansBanksLog"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansBattlestation"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansBattlestationsItem"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansBattlestationsLog"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansDiplomacie"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansMessage"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansNew"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansRanking"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansRole"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ClansRolesPermission"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Collectable"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Event"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Faction"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Galaxygate"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.GalaxygatesGgSpin"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.GalaxygatesGgWaves"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.GalaxygatesProbabilitie"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.GalaxygatesSpawn"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.GalaxygatesSpin"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.GalaxygatesStage"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.GalaxygatesStagesSpawn"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.GalaxygatesWave"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.InvitationCode"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.InvitationCodesRedeemLog"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Item"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.KeyValue"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Level"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.LevelsUpgrade"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Map"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.MapsNpc"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.MapsPortal"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.MapsStation"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Moderator"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ModeratorsLog"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.New"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Npc"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Permission"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Quest"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.QuestsCondition"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Rank"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Reward"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.RewardsCollectable"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.RewardsGalaxygate"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.RewardsNpc"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.RewardsQuest"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.RewardsShip"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.RewardsVoucher"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.ServerLog"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Ship"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.SkilltreeLevel"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.SkilltreeSkill"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.SkilltreeUnlock"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.SkylabModule"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.TechfactoryCost"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.TechfactoryDrone"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.TechfactoryItem"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.TradeItem"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.User"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.Voucher"/>
        <mapping class="com.manulaiko.kalaazu.persistence.database.entities.VouchersRedeemLog"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>