html {
    overflow-y: auto;
}

body {
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
}

.content {
    border-radius: .5%;
    background-color: rgba(255, 255, 255, 0.4);
}

.is-invisible {
  display: none;
}

.tabs li + li {
  margin-top: 0px;
}

.tabs a {
  border-bottom: solid #dbdbdb;
}
